<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task-Manager</title>
    <link rel="stylesheet" href="../stylesheets/main.css">
</head>

<body class="bg-zinc-900 text-white p-10">

    <a href="/" class="text-blue-500">Go to home</a>
    <h3 class="text-3xl font-bold py-2">

    </h3>
    <p>
    </p>

    <script src="../javascripts/index.js"></script>

</body>

</html>