<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task-Manager</title>
    <link rel="stylesheet" href="../stylesheets/main.css">
</head>

<body class="bg-zinc-900 text-white p-10">

    <a href="/" class="text-blue-500 ml-10">Go to home</a>

    <form action="/edit" method="post" class="flex flex-col gap-4 p-10">

        <input type="text" placeholder="Previous name"
            class="bg-zinc-800 px-5 py-2  rounded-md text-zinc-500 cursor-not-allowed active:outline-none focus:outline-none"
            name="previous_name" value=<%=filename %>>

        <input type="text" placeholder="New name"
            class="bg-zinc-800 px-5 py-4  rounded-md text-white cursor-text active:outline-none focus:outline-none"
            name="new_name">


        <input type="submit" value="Update name"
            class="text-left bg-yellow-600 w-[9vw] px-5 py-3 rounded-lg cursor-pointer">

    </form>

    <script src="../javascripts/index.js"></script>

</body>

</html>