* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
    padding-top: 30px;
}

h1 {
    font-family: sans-serif;
    color: white;
    text-align: center;
    font-size: 40px;
}
